.navbar{
    border: none;
}

.links ul{
    padding-left: 20px;
    list-style-type: none;
    overflow: hidden;
}

.links a{
    text-decoration: none;
    padding-left: 20px;
}

.links li{
    float: left;
}


#logo{
    padding-left: 20px;
    padding-right: 30px;
}

.card{
    display: flex;
    justify-content: center;
}

.card img{
    margin-top: 15%;
    width: 10%;   
}

.keep{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 790px;
}