.navbar{
    border: none;
}

.links ul{
    padding-left: 20px;
    list-style-type: none;
    overflow: hidden;
}

.links a{
    text-decoration: none;
    padding-left: 20px;
}

.links li{
    float: left;
}


#logo{
    padding-left: 20px;
    padding-right: 30px;
}